<div class="container text-center mt-5">
  <h1 class="text-uppercase"> portail Gerant Agence </h1>
</div>
<div class="row mt-5">

  <div class="col-md-6">

    <ul *ngFor="let setting of Data">
      <li class="collection-item">
        <span>
          Agence: {{setting.id}}
        </span>
      </li>
    </ul>

  </div>

  <div class="col-md-6">
   <ul *ngFor="let agence of Agences">
      <li class="collection-item">
        <span>
          Agence: {{agence.nomAgence}}
        </span>
      </li>
      <br />
      <li>
        <span>
          L'adresse d'agence: {{agence.adresseAgence}}
        </span>
      </li>
      <br />
      <li>
        <span>
          L'agence créer dans la : {{agence.created_at}}
        </span>
      </li>
    </ul>
  </div>
</div>