
  <mat-drawer-container class="container col-md-12 col-lg-12 text-monospace" autosize>
      <mat-drawer #drawer class="example-sidenav mdb-color white-text text-center" mode="side">
          
          <div class="container white-text ml-.5 mt-2 mb-5" >
                  <h1 width="150"><mdb-icon fas icon="address-card"></mdb-icon></h1>
                  <strong>Partie Clients</strong>
                  <hr>
                  <mat-list class="white-text text-center" role="list">
                          <mat-nav-list ><a mat-list-item (click)="ajouteClient()" class="white-text text-center">Ajouter des clients</a> </mat-nav-list>
                          <mat-nav-list ><a mat-list-item (click)="(ajouteClient() && !ajouteClient())" class="white-text text-center">les derniers clients</a> </mat-nav-list>       
                  </mat-list>
          </div>
         
      </mat-drawer>

      <div>
          <div class="col-md-12" (click)="drawer.toggle()">
          <button mdbWavesEffect type="button" size="sm" color="indigo" mdbBtn >
              <mdb-icon fas icon="align-justify"></mdb-icon>
          </button>
          <h1 class="text-uppercase font-weight-bold text-center"> portail client </h1>
           <hr> 
      </div>
  
      <!-- Partie d'ajoute les clients compte de type compte courant 
      ou compte epargne -->
    <article id="PartAdd" *ngIf="!ajouteClientValue" class="col-md-12 pl-5 pr-5">
      <div class="row text-center">
        <div class="col-md-12 mx-auto my-5">
          <div class="form-elegant">
            <mdb-card >
              
                <!--Header-->
                <mdb-card-header class="unique-color white-text text-center py-1">
                <div class="text-center">
                  <h3 class=" mt-4 mb-5">
                    <strong>Créer un(e) client(e):</strong>
                  </h3>
                </div>
              </mdb-card-header>
                <!--Header-->
                <form #clientForm=ngForm (ngSubmit)="createClient()" class="mx-3 pt-2">
                    <div class="md-form pb-3 col-11 mx-4">
                        <select [(ngModel)]="Newclient.agence" id="agence" name="agence"  class="browser-default custom-select" required>
                          <option  value="" selected disabled> Choisir Agence... </option>
                          <option *ngFor="let agence of agences" [value]="agence.id" >{{agence.nomAgence}}</option>
                        </select>
                      </div>
                      <div class="row">
                        <div class="md-form col-5 mx-4">
                          <input [(ngModel)]="Newclient.nom" type="text" id="nom" class="form-control" name="nom" mdbInput required>
                          <label for="nom">Nom</label>
                        </div>
                        <div class="md-form col-5 mx-4">
                          <input [(ngModel)]="Newclient.prenom" type="text" id="prenom" class="form-control" name="prenom" mdbInput required>
                          <label for="prenom">Prénom</label>
                        </div>
                      </div>

                  <div class="md-form pb-3 col-11 mx-4">
                    <input [(ngModel)]="Newclient.adresse" type="text" id="adresse" name="adresse" class="form-control" mdbInput required>
                    <label for="adresse">L'adresse</label>
                  </div>
                  <div class="row pb-3">
                    <div class="md-form col-5 mx-4">
                      <input [(ngModel)]="Newclient.cin" type="text" id="cin" name="cin" class="form-control" mdbInput required>
                      <label for="cin">Numero de CIN°</label>
                    </div>
                    <div class="md-form col-5 mx-4">
                      <input [(ngModel)]="Newclient.codePostal" type="number" id="codePostal" name="codePostal" class="form-control" mdbInput required>
                      <label for="codePostal">Code Postal</label>
                    </div>
                  </div>
                  <div class="row pb-3">
                    <div class="md-form col-5 mx-4">
                      <input [(ngModel)]="Newclient.ville" type="text" id="ville" name="ville" class="form-control" mdbInput required>
                      <label for="ville">Ville</label>
                    </div>
                    <div class="md-form col-5 mx-4">
                        <input [(ngModel)]="Newclient.telephone" type="text" id="telephone" name="telephone" class="form-control" mdbInput required>
                        <label for="telephone">Téléphone</label>
                    </div>
                    
                  </div>
                  <div class="row pb-3 text-center">
                      <section class="text-center col-12">
                          <h3 class="example-margin">Type  de compte</h3>
                          <br>
                          <mat-radio-group>
                            <mat-radio-button (click)="openCoumpteEpargne()" [(ngModel)]="Newclient.compteEpargne" name="compteEpargne" id="compteEpargne" class="mx-5 px-4" [value]="Newclient.compteEpargne" required>Compte Epargne</mat-radio-button>
                            <mat-radio-button (click)="openCoumpteCourant()" [(ngModel)]="Newclient.compteCourant" name="compteCourant" id="compteCourant"  class="mx-5 px-4" [value]="Newclient.compteCourant" required>Compte Courant</mat-radio-button>
                          </mat-radio-group>
                        </section>                  
                  </div>

                  <div class="row" *ngIf="!isCompteCourant">
                    <div class="md-form col-5 mx-4">
                        <select [(ngModel)]="Newclient.cartebancaire" id="cartebancaire" name="cartebancaire" class="browser-default custom-select">
                          <option value="" disabled>Carte Bancaire</option>
                          <option value="" disabled selected ></option>
                          <option value="0">Sans</option>
                          <option value="1">Avec</option>
                        </select>
                      </div>
                      <div class="md-form col-5 mx-4 pb-3">
                          <select [(ngModel)]="Newclient.typeCarte" id="typeCarte" name="typeCarte" class="browser-default custom-select">
                            <option value="" disabled>Type de carte bancaire</option>
                            <option [value]="Newclient.typeCarte" disabled selected ></option>
                            <option value="MasterCard">Master Card</option>
                            <option value="Visa">Visa</option>
                          </select>
                        </div>

  
                    </div>
                  <div class="md-form col-11 mx-4 pb-3 my-3">
                    <input [(ngModel)]="Newclient.solde" type="number" id="solde" name="solde" class="form-control" mdbInput>
                    <label for="solde">Solde de ouverture</label>
                  </div>
                  <div class="text-center  mb-3">
                    <button mdbBtn (click)="createClient()" *ngIf="editCl" type="button" [disabled]="!clientForm.valid" color="indigo" block="true" rounded="true"
                      class="z-depth-1a waves-light" mdbWavesEffect>Ajouter</button>
                      <button (click)="updateClient()" *ngIf="!editCl"  type="button" mdbBtn color="light-green" block="true" rounded="true"
                      class="z-depth-1a waves-light" mdbWavesEffect>Modifier</button>          
                  </div>
                </form>
              
              <p>{{ Newclient | json }}</p>
              <div class="modal-footer mx-5 pt-3 mb-1"></div>
            </mdb-card>
          </div>
        </div>
      </div>
    </article>
    <!-- la fin Partie d'ajoute les clients compte de type compte courant 
        ou compte epargne avec carte guichet -->
    <article class="form-elegant pb-5 pt-5 pl-3 pr-3">
      <mdb-card>
      <mdb-card-header (click)="drawer.toggle()" class="unique-color white-text text-center py-1">
        <div class="text-center">
          <h3 class="mt-4 mb-2">
            <strong>les clients</strong>
          </h3>
        </div>
      </mdb-card-header>
        <mdb-card-body class="mx-4">
          <div class="md-form mt-3 text-monospace  text-capitalize">
            <input mdbInput (keyup)="searcheClient()" type="text" name="searcheBar" [(ngModel)]="searchText" id="searcheBar" class="form-control">
            <label for="searcheBar" class="text-monospace text-center text-lowercase">Entrez-Vous CIN°....</label>
            <p>CIN° CLient(e) :  {{searchText}} !</p>
          </div>
          <div class="col-md-12 table-responsive">
            <table mdbTable class="text-monospace text-center text-capitalize mt-4">
              <thead class="indigo white-text">
                 <tr>
                      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
                 </tr>
              </thead>
               <tbody *ngFor="let Client of serClient">
                      <tr mdbTableCol>
                          <th scope="row">{{Client.id}}</th>
                          <td>
                            <p *ngFor="let agence of agences">
                              <small *ngIf="(Client.Agence_id===agence.id)"> {{agence.nomAgence}}</small>
                            </p>
                          </td>
                          
                          <td>
                            <small> {{Client.nom}}  </small>
                             <small>{{Client.prenom}}</small> 
                          </td>
                          <td class="text-lowercase">{{Client.cin}}</td>
                          <td class="text-lowercase">
                            {{Client.compte.numCompte}}

                          </td>
                          <td>       
                                 <span *ngIf="(Client.compteCourant==true)"> Compte Courant</span>
                                 <span *ngIf="(Client.compteEpargne==true)">Compte Epargne</span>
                          </td>
                          <td>
                             {{Client.compte.solde}}
                          </td>
                          <td>{{Client.created_at}}                    
                            <hr>
                            <div class="text-center">
                                <button mdbBtn (click)="editClient(Client)" size="sm" type="button" color="indigo" mdbWavesEffect><mdb-icon fas icon="edit"></mdb-icon></button>
                                <button mdbBtn (click)="showClient(Client)"  size="sm" type="button" color="unique" mdbWavesEffect><mdb-icon fas icon="eye"></mdb-icon></button>
                                <button mdbBtn (click)="deleteClient(Client)"  size="sm" type="button" color="danger" mdbWavesEffect><mdb-icon fas icon="trash-alt"></mdb-icon></button>
                            </div>
                            <hr>
                          </td>                      
                      </tr>
              </tbody>
            </table> 
          </div>
        </mdb-card-body>
      </mdb-card>
    </article>

  </div>
  </mat-drawer-container>
