<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark mdb-color" [containerInside]="false">

    <!-- Navbar brand -->

    <mdb-navbar-brand class="font-weight-bold"><a class="navbar-brand"  href="" [routerLink]="['/accueil']" routerLinkActive="router-link-active">Proxy
      
        <img src="../../favicon.ico" width="50" class="rounded-circle img-fluid">
      
      Banque</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect ><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="register">Acèss Employeurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="client/compte">Ouverture de compte </a>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
           Operation sur compte<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="" routerLink="operations/liste" >Toutes les opérations</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Virement</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Versement</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Retrait</a>
            <!-- <div class="divider dropdown-divider"></div> -->
            <!-- <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a> -->
          </div>
        </li>
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <!-- <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="google-plus"></mdb-icon>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" href="" routerLink="/accueil">Connecté</a>
                <a class="dropdown-item" href="#">Deconnecté</a>
                <a class="dropdown-item" href="" routerLink="register" >Créer Employer</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" href="" routerLink="gerant/configuration" >Gérant et paramétrage</a>
                <a class="dropdown-item" href="" routerLink="client/compte" >clients</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
