<section class="container col-md-10 p-5">
  <!-- Default form login -->
  <div class="row">
      <div id="pictureMoon" class="col-md-6 text-center">
          <img src="assets/img/photoMoon.jpg" width="400" height="450">
        </div>
  <div class="col-md-6">
    <form (submit)="login($event)" class="text-center border border-light p-5">

      <p class="h4 mb-4">Employer</p>

      <!-- Email -->
      <input type="text" id="cin" class="form-control mb-4" placeholder="CIN">

      <!-- Password -->
      <input type="password" id="password" class="form-control mb-4" placeholder="Password">

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <mdb-checkbox  [default]="true">Remember me</mdb-checkbox>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button mdbBtn color="blue-grey"  rounded="true" block="true" class="my-4" type="submit">Connecté</button>
      <hr>
      <!-- Register -->
      <p>Créer Un(e)?
        <a href="" routerLink="register">Nouveau Employeur</a>
      </p>

      <!-- Social login -->
    </form>
    <!-- Default form login -->
  </div>
  
</div>
</section>