<body>
    
        
            <mat-drawer-container class="container col-md-12 col-lg-12" autosize>
                <mat-drawer #drawer class="example-sidenav mdb-color white-text text-center" mode="side">
                    
                    <div class="container white-text ml-.5 my-5" >
                            
                            <mat-list class="white-text text-center" role="list">
                                    <mat-nav-list ><a mat-list-item class="white-text text-center" href="">Retrait</a> </mat-nav-list>
                                    <mat-nav-list ><a mat-list-item class="white-text text-center" href="">Versement</a> </mat-nav-list>
                                    <mat-nav-list ><a mat-list-item class="white-text text-center" href="">Virement</a> </mat-nav-list>
                                    <mat-nav-list ><a mat-list-item class="white-text text-center" href="">Toute les opération</a> </mat-nav-list>  
                                    
                            </mat-list>
                    </div>
                    <!-- <button (click)="showFiller = !showFiller" mdbWavesEffect type="button" size="sm" color="indigo" mdbBtn>
                        <mdb-icon fas icon="angle-double-down"></mdb-icon>
                    </button> -->
                </mat-drawer>

                <div class="col-md-12" (click)="drawer.toggle()">
                    <div>
                    <button mdbWavesEffect type="button" size="sm" color="indigo" mdbBtn >
                        <mdb-icon fas icon="align-justify"></mdb-icon>
                    </button>
                </div>
                <mat-grid-list cols="2" rowHeight="2:1">
                        <mat-grid-tile>
                               
                         <form class=" text-center border border-light p-5">
                                        
                                                <p class="h4 mb-4">Contact us</p>
                                              
                                                <!-- Name -->
                                                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
                                              
                                                <!-- Email -->
                                                <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
                                              
                                                <!-- Subject -->
                                                <label>Subject</label>
                                                <select class="browser-default custom-select mb-4">
                                                  <option value="" disabled>Choose option</option>
                                                  <option value="1" selected>Feedback</option>
                                                  <option value="2">Report a bug</option>
                                                  <option value="3">Feature request</option>
                                                  <option value="4">Feature request</option>
                                                </select>
                                              
                                                <!-- Message -->
                                                <div class="form-group">
                                                  <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
                                                </div>
                                              
                                                <!-- Copy -->
                                                <div class="row">
                                                  <div class="col-md-6 mx-auto d-flex justify-content-center">
                                                    <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox>
                                                  </div>
                                                </div>
                                              
                                              
                                                <!-- Send button -->
                                                <button mdbBtn color="info" block="true" type="submit">Send</button>
                                              
                         </form>
                                                            
                        </mat-grid-tile>
                        <mat-grid-tile>
                            
                            
                            <img  src="assets/img/Money_SVG.svg" alt="Second slide" width="300"> 
                            
                        </mat-grid-tile>
                        
                      </mat-grid-list>
                
                    <!-- Default form contact -->
                   
            
               </div>    
            </mat-drawer-container>
       
   
</body>