<div class="container text-center mt-5">
        <h1 class="text-uppercase color-amber font-weight-bold"> Les operations </h1>
        <hr>
        <div class="container text-center col-md-12">
                <!-- Material form contact -->
                <mdb-card>

                        <mdb-card-header  class="indigo white-text text-center py-4">
                                <h1>
                                        <strong><mdb-icon fas icon="hand-holding-usd" ></mdb-icon></strong>
                                </h1>
                        </mdb-card-header>


                        <!--Card content-->
                        <mdb-card-body class="px-lg-5 pt-0">

                                <!-- Form -->
                                <form class="text-center" style="color: #757575;">
                                               
                                                              
                                                              
                                                              
                                                <div class="form-row">
                                                                <div class="col">
                                                                  <!-- First name -->
                                                                  <div class="md-form">
                                                                    <input type="text" id="materialRegisterFormFirstName" class="form-control" mdbInput>
                                                                    <label for="materialRegisterFormFirstName">First name</label>
                                                                  </div>
                                                                </div>
                                                                <div class="col">
                                                                  <!-- Last name -->
                                                                  <div class="md-form">
                                                                    <input type="email" id="materialRegisterFormLastName" class="form-control" mdbInput>
                                                                    <label for="materialRegisterFormLastName">Last name</label>
                                                                  </div>
                                                                </div>
                                                              </div>

                                        <!-- Name -->
                                        <div class="md-form mt-3">
                                                <input type="text" id="materialContactFormName" class="form-control"
                                                        mdbInput>
                                                <label for="materialContactFormName">Name</label>
                                        </div>

                                        <!-- E-mail -->
                                        <div class="md-form">
                                                <input type="email" id="materialContactFormEmail" class="form-control"
                                                        mdbInput>
                                                <label for="materialContactFormEmail">E-mail</label>
                                        </div>




                                        <!-- Send button -->
                                        <button mdbBtn color="indigo" outline="true" rounded="true" block="true"
                                                class="z-depth-0 my-4 waves-effect" mdbWavesEffect
                                                type="submit">Send</button>

                                </form>
                                <!-- Form -->

                        </mdb-card-body>

                </mdb-card>
                <!-- Material form contact -->

        </div>
        <li *ngFor="let Operation of operations" class="collection-item mt-4">
                {{Operation.id}}:
                <span>
                        N° de Compte{{Operation.numCompte_id}}
                </span>
                <span>
                        Montant de opération: {{Operation.montantOperation}}
                </span>
                <span>
                        Versement: {{Operation.versement}}
                </span>
                <span>
                        Retrait: {{Operation.retrait}}
                </span>
                <span>
                        Virement:{{Operation.virement}}
                </span>
                <span>
                        Date d'operation{{Operation.created_at}}
                </span>
                <br /><span>
                        Nouveau Solde: {{Operation.Compte.id}}
                </span>
                <br /><span>
                        type d'operation{{Operation.opertaion_retrait.Operation_id}}
                </span>
                <div class="text-right">
                        <button mdbBtn (click)="deleteOperation(Operation)" size="sm" type="button sm" color="danger"
                                mdbWavesEffect>
                                <mdb-icon far icon="trash-alt"></mdb-icon>
                        </button>
                </div>
        </li>
</div>