<body class="container-fluid col-md-12">
        
    <mat-drawer-container class="example-container" autosize>
           <mat-drawer #drawer class="example-sidenav mdb-color white-text text-center" mode="side">

                                <div class="container white-text ml-.5 my-5">

                                        <mat-list class="white-text text-center" role="list">
                                                <mat-nav-list><a mat-list-item  (click)="opentRetrait()" class="white-text text-center">Retrait</a> </mat-nav-list>
                                                <mat-nav-list><a mat-list-item  (click)="opentVersement()" class="white-text text-center">Versement</a> </mat-nav-list>
                                                <mat-nav-list><a mat-list-item (click)="openViremet()" class="white-text text-center">Virement</a> </mat-nav-list>
                                                <mat-nav-list><a mat-list-item (click)="openOperation()" class="white-text text-center">Toute les opérations</a> </mat-nav-list>

                                        </mat-list>
                                </div>
                                <!-- <button (click)="showFiller = !showFiller" mdbWavesEffect type="button" size="sm" color="indigo" mdbBtn>
                                <mdb-icon fas icon="angle-double-down"></mdb-icon>
                            </button> -->
            </mat-drawer>

            <div class="example-sidenav-content container  col-md-12" (click)="drawer.toggle()">
                    <button mdbWavesEffect type="button" size="sm" color="indigo" mdbBtn>
                            <mdb-icon fas icon="align-justify"></mdb-icon>
                    </button>
                    <div class="mt-3 container col-md-12 text-center">
                        <h3 class="text-monospace text-capitalize">ajouter une opération </h3>
                         <hr>
                    </div>
            </div> 
            <mat-grid-list class="my-3 mx-3" cols="2" rowHeight="3:2">
                        <mat-grid-tile>
                                <mdb-card cols="2">
                                         <!-- Form -->
                                         <mdb-card-header class="indigo white-text text-center py-4">
                                                                <h5><strong><mdb-icon fas icon="hand-holding-usd"></mdb-icon></strong></h5>
                                         </mdb-card-header>
                                                <form #OperationForm=ngForm (submit)="CreateOperation()" class="text-center">
                                                        <div class="container col-md-12 mt-4">                                                                           
                                                                <div class="col text-center text-capitalize">
                                                                         <h1 [(ngModel)]="operation.virement" name="virement" *ngIf="!isVirement" >Virement sur compte</h1>
                                                                         <h1 [(ngModel)]="operation.retrait" name="retrait" *ngIf="!isRetrait" >Retrait sur compte</h1>
                                                                         <h1 [(ngModel)]="operation.versement" name="versement" *ngIf="!isVersement" >Versement sur compte</h1>                                         
                                                                 </div>
                                                        </div>
                                                         <div class="form-row mx-3">
                                                                <div class="col">
                                                                                                     <!-- le numero de compte effectue l'operation -->
                                                                     <div class="md-form">
                                                                             <input [(ngModel)]="operation.numCompte_id" name="numCompte_id" type="text"  id="materialRegisterFormFirstName"  class="form-control"  mdbInput>
                                                                             <label  for="materialRegisterFormFirstName">Le numéro de compte</label>
                                                                     </div>
                                                                 </div>
                                                         <div class="col">
                                                                                           <!-- Montant d'operation -->
                                                                 <div class="md-form">
                                                                         <input [(ngModel)]="operation.montantOperation" name="montantOperation" type="number"  id="materialRegisterFormLastName"  class="form-control"  mdbInput>
                                                                         <label for="materialRegisterFormLastName">Montant D'operation</label>
                                                                 </div>
                                                         </div>
                                          
                                                                  </div>
                                                                          <!-- le compte benficie de virement-->
                                                                          <div class="form-row mx-3">
                                                                              <div *ngIf="!isVirement" class="md-form col-md-12">
                                                                                   <input [(ngModel)]="operation.virementVersCompte" name="virementVersCompte" type="text"  id="materialContactFormEmail" class="form-control" mdbInput>          
                                                                                   <label for="materialContactFormEmail">Virement Vers le Compte</label>
                                                                               </div>
                                                                           </div>
                                                                       <!-- Send button -->
                                                                       <div class="float-right">
                                                                               <button mdbBtn color="indigo" f rounded="true"  class="my-4 waves-effect" mdbWavesEffect [disabled]="!OperationForm.valid" type="submit">Send</button>
                                                                       </div> 
                                                          </form>
                                                                   {{operation | json}}
                                                  <!-- Form -->
                                                                                           
                                        </mdb-card>
                        </mat-grid-tile>
                        <mat-grid-tile (click)="drawer.toggle()">
                                        <div class="col-md-6 mx-2 my-2  text-center">
                                                 <img width="350"  src="assets/img/Money_SVG.svg" alt="Second slide"> 
                                        </div>                      
                        </mat-grid-tile>

           </mat-grid-list>
          <!-- partie affichage -->     
<section *ngIf="!tOperation" class="text-center mx-5 mt-4">
        <article  class="col-md-12 col-lg-12">
         <h2 class="text-monospace text-capitalize">Toute les operation</h2> 
         <hr>
         <table mdbTable>
                        <thead class="black white-text">
                          <tr>
                            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr mdbTableCol *ngFor="let el of elements">
                            <th scope="row">{{el.id}}</th>
                            <td>{{el.first}}</td>
                            <td>{{el.last}}</td>
                            <td>{{el.handle}}</td>
                          </tr>
                        </tbody>
                      </table>
                      
                        

        <!-- <li *ngFor="let Operation of operations" class="collection-item mt-4">
                                                <span> N° de Compte{{Operation.numCompte_id}}</span>                                                                                                      
                                                <span> Montant de opération: {{Operation.montantOperation}} </span>                                                                                                   
                                                <span> Versement: {{Operation.versement} </span>
                                                <span>Retrait: {{Operation.retrait}</span>
                                                <span>Virement:{{Operation.virement}}</span>                                                    
                                                <span>Date d'operation{{Operation.created_at}}</span>
                                                <br/>
                                                <span>Nouveau Solde: {{Operation.Compte.id}}</span>
                                                <br/>        
                                                <span>type d'operation{{Operation.opertaion_retrait.Operation_id}}</span>                                
                                                
                        <div class="text-right">
                                <button mdbBtn (click)="deleteOperation(Operation)" size="sm" type="button sm" color="danger" mdbWavesEffect>
                                                                <mdb-icon far icon="trash-alt"></mdb-icon>
                                </button>
                         </div>
                                                
         </li> -->
        </article>
 </section>
</mat-drawer-container>
        
</body>