*{
    
    padding: 0;

}
#backGroundLogin {
    background:url(../../assets/img/Dalmatian-Spots.svg);
    background-size: cover;
    height:100vh;
}
.ng-invalid:not(form){
    border-bottom:5px solid #dd2c00;
}
.ng-valid:not(form){
    border-bottom:5px solid #1de9b6;
}
