<section id="backGroundLogin">
  <article class="container-fluid col-md-8 p-5">
    <mdb-card>
      <div class="row">

        <!-- Default form register -->
        <div class="col-md-12">
          <form #registerForm=ngForm (submit)="onRegister()" class="text-center p-5">
            <div class="text-center ">
              <img src="../../favicon.ico" width="100" class="rounded-circle img-fluid">
              <p class="h4 mb-4">Créer employer</p>
            </div>

            <div class="form-row mb-4">
              <!-- First name -->
              <div class="col">
                <input [(ngModel)]="form.prenom" type="text" name="prenom" id="prenom" class="form-control"
                  placeholder="Prénom" required>
              </div>
              <!-- Last name -->
              <div class="col">
                <input [(ngModel)]="form.name" type="text" name="name" id="name" class="form-control" placeholder="nom"
                  required>
              </div>
            </div>
            <!-- cin numero d'identité -->
            <input [(ngModel)]="form.cin" type="text" name="cin" id="cin" class="form-control"
              placeholder="Numero de CIN°" aria-describedby="defaultRegisterFormPhoneHelpBlock" required>
            <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
              ce champ est obligatoire ce correspande a l'exemple"AB123456"
            </small>
            <!-- Password -->
            <div class="form-row mb-4">
              <div class="col">
                <input [(ngModel)]="form.password" type="password" name="password" id="password" class="form-control"
                  placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                  At least 8 characters and 1 digit
                </small>
              </div>
              <!--confiramtion Password -->
              <div class="col">
                <input [(ngModel)]="form.c_password" name="c_password" type="password" id="c_password" class="form-control"
                  placeholder="confirmer Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                  At least 8 characters and 1 digit
                </small>
              </div>
            </div>

            <!-- E-mail -->
            <input name="email" [(ngModel)]="form.email" type="email"  id="email" class="form-control mb-4"
              placeholder="E-mail" required>

            <!-- choix de conseiller au gerant -->
            <div class="row">
              <div class="col-md-6 mx-auto d-flex justify-content-center">
                <div class="form-check">
                  <input [(ngModel)]="form.is_conseiller" type="radio" name="is_conseiller" class="form-check-input"
                    id="conseiller" name="conseiller" value="1" mdbInput required>
                  <label class="form-check-label" for="conseiller">je suis un(e) employer</label>
                </div>
              </div>
            </div>
            <!-- Sign up button -->
            <button mdbBtn color="dark" block="true" class="my-4" [disabled]="!registerForm.valid"
              type="submit">Inscription</button>

            <hr>
            <!-- Terms of service -->
            <p>En cliquant
              <em>sur Inscription</em>, vous acceptez nos
              <a href="" target="_blank">conditions d'utilisation.</a></p>

          </form>
        </div>
      </div>
      <!-- Default form register -->
    </mdb-card>
  </article>
</section>